# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* Data science languages
* Data science libraries
* Data science open code tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matpotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch

| Data Science Tools |
| ----- |
| VS Code |
| JupiterLab |
| R Studio

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
M = 200
H = M/60
print("200 minutes is", H, "Hours")

200 minutes is 3.3333333333333335 Hours

## Author

Aleksandr S.